.contact {
    margin-inline: 2rem;
}
.section-container {
    margin-block: 5rem;
}
.map-location iframe {
    border-radius: 0.5rem;
}
.contact-form-desgin {
    padding: 3rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.contact-form input {
    height: 5rem;
    border-radius: 1rem;
    margin-top: 0rem;
    margin-bottom: 1rem;
    width: 100%;
}
.custom-select {
    height: 5rem;
    border-radius: 1rem;
    margin-top: 0rem;
    margin-bottom: 1rem;
    width: 100%;
}