nav {
    background-color: #191919;
    height: 7rem;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6rem;
    gap: 2rem;
}
.navbar img{
    width: 7rem;
    height: auto;
    border-radius: 0.5rem;
    cursor: pointer;
   
}
.nav-top input {
    width: 50rem;
    background-color: #383838;
    color: #ccc;
    height: 4.8rem;
    border: none;
    outline: none;
    border-radius: 2.5rem;

}
.nav-top input::placeholder {
    color: #fff;
}
.nav-top li{
 list-style-type: none;
 color: #ccc;
 font-family: 'IBM Plex Sans Arabic', sans-serif;
 line-height: 2.2rem;
 font-size: 2rem;
 font-weight: bold;
 cursor: pointer;
}
.nav-top li:hover {
    color: #fff;
    transition-duration: 1s;
}
