.whatsapp-float {
    position: fixed;
    width: 46px;
    height: 46px;
    bottom: 40px;
    right: auto;
    left: 15px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 10px;
    text-align: center;
    font-size: 10px;
    box-shadow: 2px 2px 3px #999;
    z-index: 1000;
  }
  